@font-face {
  font-family: 'Circular Pro Book';
  src: url('https://carlossolar.es/radio-nopal-volante/assets/fonts/CircularPro-Book.woff2') format('woff2'),
  url('https://carlossolar.es/radio-nopal-volante/assets/fonts/CircularPro-Book.woff2') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Noah Upper Lower';
  src: url('https://carlossolar.es/radio-nopal-volante/assets/fonts/NoahUpperLower-Bold.woff2') format('woff2'),
  url('https://carlossolar.es/radio-nopal-volante/assets/fonts/NoahUpperLower-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
}


